body{
    background-color: #07090E;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.header-menu a{
    color: white;
}

.header-menu li{
    margin-left: 3vw;
    font-size: 1rem;
}

.languages a{
    color: #FFFFFF;
    font-size: 0.7rem;
}

.languages li{
    margin-left: 3vw;
}

